.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
certs/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
learn*.md
TheaterList.vue
TheaterMap.vue
MainNav.vue
404.vue
